.btn-buy-ticket a{
  background-color: #fdea58!important;
  color: #000!important;
}
.btn-buy-ticket a:hover {
    background-color: #ab9e3c!important;
    color: #fff;
    text-decoration: underline;
}