.btn-buy-ticket a{
  background-color: #fdea58!important;
  color: #000!important;
}
.btn-buy-ticket a:hover {
    background-color: #d30521!important;
    color: #fff!important;
    text-decoration: underline;
    font-weight: bold!important;
}